aiohttp==3.4.4
aniso8601==4.0.1
async-timeout==3.0.1
asyncio-dispatch==1.1.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
constantly==15.1.0
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
idna-ssl==1.1.0
incremental==17.5.0
itsdangerous==1.1.0
lxml==4.6.2
MarkupSafe==1.1.0
multidict==4.4.2
PyHamcrest==1.9.0
pytz==2018.7
requests==2.20.1
six==1.11.0
urllib3==1.24.1
yarl==1.2.6
zope.interface==4.6.0